.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.header {
  border-bottom-width:4px;
  border-color:#0075CC;
  border-left-width:0px;
  border-right-width:0px;
  border-top-width:0px;
  color:#333333;
  height:250px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:1500px;
}
.text-113 {
  background-color:#0075CC;
  background-position:center;
  border-color:#0075CC;
  border-radius:15px;
  border-width:3px;
  color:#FFFFFF;
  font-family:'Hanna', serif;
  font-size:32px;
  height:50px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:50px;
  width:650px;
}
.pg-form-132 {
  border-bottom-width:2px;
  border-color:#0075CC;
  border-left-width:2px;
  border-radius:10px;
  border-right-width:2px;
  border-top-width:0px;
  height:382px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:71px;
  width:653px;
}
.text-132 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:30px;
  left:48px;
  text-align:left;
  top:82px;
  width:99px;
}
.pg-text-field-143 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:160px;
  padding-left:8px;
  padding-right:8px;
  top:82px;
  width:255px;
}
.pg-text-field-139 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:160px;
  padding-left:8px;
  padding-right:8px;
  top:124px;
  width:255px;
}
.text-163 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:30px;
  left:47px;
  text-align:left;
  top:126px;
  width:100px;
}
.text-141 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:30px;
  left:47px;
  text-align:left;
  top:168px;
  width:100px;
}
.pg-text-field-141 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:160px;
  padding-left:8px;
  padding-right:8px;
  top:166px;
  width:255px;
}
.pg-text-field-142 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:160px;
  padding-left:8px;
  padding-right:8px;
  top:210px;
  width:255px;
}
.text-143 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:30px;
  left:47px;
  text-align:left;
  top:212px;
  width:100px;
}
.text-144 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:30px;
  left:47px;
  text-align:left;
  top:255px;
  width:100px;
}
.pg-text-field-145 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:160px;
  padding-left:8px;
  padding-right:8px;
  top:253px;
  width:255px;
}
.pg-text-field-146 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:160px;
  padding-left:8px;
  padding-right:8px;
  top:296px;
  width:54px;
}
.text-147 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:30px;
  left:47px;
  text-align:left;
  top:298px;
  width:100px;
}
.text-149 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:21px;
  left:232px;
  text-align:center;
  top:300px;
  width:30px;
}
.text-151 {
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:21px;
  left:333px;
  text-align:center;
  top:299px;
  width:30px;
}
.pg-text-field-150 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:262px;
  padding-left:8px;
  padding-right:8px;
  top:295px;
  width:54px;
}
.pg-text-field-151 {
  border-color:#B6B6B6;
  border-radius:5px;
  border-width:1px;
  height:28px;
  left:361px;
  padding-left:8px;
  padding-right:8px;
  top:295px;
  width:54px;
}
.pg-button-143 {
  background-color:#0075CC;
  border-color:#0075CC;
  border-radius:10px;
  border-width:3px;
  color:#FFFFFF;
  font-family:'Jeju Gothic', serif;
  font-size:16px;
  height:71px;
  left:471px;
  top:254px;
  width:151px;
}
.table {
  height:60px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:659px;
  width:950px;
}
.table, .table > tbody > tr > td, .table > thead > tr > th {
  border-color:#CCCCCC;
  border-width:1px;
}
.table-header {
  background-color:#EBEBEB;
  font-family:'Jeju Gothic', serif;
  font-size:13px;
}
.text-138 {
  background-color:#0075CC;
  background-position:center;
  border-color:#0075CC;
  border-radius:15px;
  border-width:3px;
  color:#FFFFFF;
  font-family:'Hanna', serif;
  font-size:32px;
  height:50px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:992px;
  width:650px;
}
.text-139 {
  background-color:#0075CC;
  background-position:center;
  border-color:#0075CC;
  border-radius:15px;
  border-width:3px;
  color:#FFFFFF;
  font-family:'Hanna', serif;
  font-size:32px;
  height:50px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:545px;
  width:650px;
}
.box-159 {
  height:113px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:1089px;
  width:950px;
}
.footer {
  background-color:#0075CC;
  height:100px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:380px;
  }
  .iu-page {
    min-width:380px;
  }
  .text-113 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .pg-form-132 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .table {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-138 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-139 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-159 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }

}