.iu-page {
  min-width:960px;
}
.header {
  border-bottom-width:4px;
  border-color:#0075CC;
  border-left-width:0px;
  border-right-width:0px;
  border-top-width:0px;
  color:#333333;
  height:250px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.box-25 {
  height:500px;
  left:107px;
  top:171px;
  width:803px;
}
.transition-90 {
  border-color:#0092FF;
  border-right-width:3px;
  float:none;
  height:25px;
  left:74px;
  overflow:visible;
  top:12px;
  width:77px;
}
.transitionitem-91 {
  overflow:visible;
}
.cell-93 {
  color:#494949;
  font-size:14px;
  height:18px;
  left:15px;
  line-height:18px;
  text-align:center;
  top:2px;
}
.transitionitem-92 {
  overflow:visible;
}
.cell-94 {
  color:#494949;
  font-size:14px;
  height:16px;
  left:15px;
  line-height:16px;
  text-align:center;
  top:3px;
}
.box-95 {
  -webkit-box-shadow:0px 2px 10px 0px rgba(0,0,0,0.20);
  background-color:#FFFFFF;
  border-color:#CCCCCC;
  border-radius:3px;
  border-width:1px;
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.20);
  color:#444444;
  height:372px;
  left:-61px;
  overflow:visible;
  top:60px;
  width:675px;
}
.box-96 {
  border-bottom-color:#CCCCCC;
  border-bottom-width:8px;
  border-left-color:transparent;
  border-left-width:8px;
  border-right-color:transparent;
  border-right-width:8px;
  border-top-color:#CCCCCC;
  left:92px;
  top:-8px;
}
.box-97 {
  border-bottom-color:#FFFFFF;
  border-bottom-width:8px;
  border-left-color:transparent;
  border-left-width:8px;
  border-right-color:transparent;
  border-right-width:8px;
  border-top-color:#FFFFFF;
  left:92px;
  top:-7px;
}
.box-91 {
  height:354px;
  left:3px;
  top:11px;
  width:128px;
}
.text-92 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:16px;
  width:120px;
}
.cell-95 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:37px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-95.iux-hover, .cell-95.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-97 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-98 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-98.iux-hover, .cell-98.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-96.iux-hover, .cell-96.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-96 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-97.iux-hover, .cell-97.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-97 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.text-100 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-101 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-101.iux-hover, .cell-101.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-102 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-102.iux-hover, .cell-102.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-103 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-103.iux-hover, .cell-103.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-104 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-104.iux-hover, .cell-104.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-105 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-105.iux-hover, .cell-105.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-106 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-106.iux-hover, .cell-106.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-107 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-107.iux-hover, .cell-107.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-108 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-108.iux-hover, .cell-108.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-109 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-109.iux-hover, .cell-109.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.box-152 {
  height:354px;
  left:511px;
  top:11px;
  width:128px;
}
.text-153 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:16px;
  width:120px;
}
.cell-158 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:37px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-158.iux-hover, .cell-158.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-157 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-157.iux-hover, .cell-157.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-159 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-159.iux-hover, .cell-159.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-161 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-161.iux-hover, .cell-161.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-162 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-162.iux-hover, .cell-162.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-163 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-163.iux-hover, .cell-163.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-154 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-160 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-160.iux-hover, .cell-160.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-156 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-156.iux-hover, .cell-156.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-164 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-164.iux-hover, .cell-164.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-165 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-165.iux-hover, .cell-165.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-166 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-166.iux-hover, .cell-166.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-167 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-167.iux-hover, .cell-167.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.box-134 {
  height:354px;
  left:384px;
  top:11px;
  width:128px;
}
.text-135 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:16px;
  width:120px;
}
.cell-142 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:37px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-142.iux-hover, .cell-142.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-145 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-145.iux-hover, .cell-145.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-140 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-146 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-146.iux-hover, .cell-146.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-147 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-147.iux-hover, .cell-147.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-152 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-152.iux-hover, .cell-152.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-148 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-148.iux-hover, .cell-148.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-149 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-149.iux-hover, .cell-149.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-150 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-150.iux-hover, .cell-150.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-145 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-151 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-151.iux-hover, .cell-151.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-153 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-153.iux-hover, .cell-153.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-148 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-154 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-154.iux-hover, .cell-154.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.box-122 {
  height:354px;
  left:130px;
  top:11px;
  width:128px;
}
.text-129 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:16px;
  width:120px;
}
.cell-123 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:37px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-123.iux-hover, .cell-123.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-124 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-124.iux-hover, .cell-124.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-128 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-128.iux-hover, .cell-128.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-130 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-130.iux-hover, .cell-130.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-127 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-129 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-129.iux-hover, .cell-129.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-131 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-131.iux-hover, .cell-131.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-131 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-132 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-132.iux-hover, .cell-132.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-133 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-133.iux-hover, .cell-133.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-134 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-134.iux-hover, .cell-134.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-135 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-135.iux-hover, .cell-135.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.box-108 {
  height:354px;
  left:257px;
  top:11px;
  width:128px;
}
.text-117 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:16px;
  width:120px;
}
.cell-118 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:37px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-118.iux-hover, .cell-118.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-119 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-119.iux-hover, .cell-119.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-120 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-120.iux-hover, .cell-120.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-121 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-121.iux-hover, .cell-121.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-127 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-127.iux-hover, .cell-127.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-136 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-136.iux-hover, .cell-136.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-137 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-137.iux-hover, .cell-137.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-138 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-138.iux-hover, .cell-138.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-139 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-139.iux-hover, .cell-139.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-140 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-140.iux-hover, .cell-140.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.cell-141 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-141.iux-hover, .cell-141.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-150 {
  background-color:#0075CC;
  color:#FFFFFF;
  float:none;
  font-size:12px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:120px;
}
.cell-155 {
  font-size:12px;
  height:24px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-align:left;
  width:80px;
}
.cell-155.iux-hover, .cell-155.iux-active {
  background-color:#D4EDFF;
  color:#000000;
}
.text-21 {
  background-position:center;
  border-color:#0092FF;
  border-right-width:3px;
  color:#494949;
  font-family:'Arial', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  left:151px;
  text-align:center;
  top:12px;
  width:70px;
}
.text-22 {
  border-color:#0092FF;
  border-right-width:3px;
  color:#494949;
  font-family:'Arial', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  left:223px;
  text-align:center;
  top:12px;
  width:70px;
}
.text-23 {
  border-bottom-width:0px;
  border-color:#0092FF;
  border-left-width:0px;
  border-right-width:3px;
  border-top-width:0px;
  color:#494949;
  font-family:'Arial', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  left:296px;
  text-align:center;
  top:12px;
  width:70px;
}
.text-24 {
  border-color:#0092FF;
  border-right-width:0px;
  color:#494949;
  font-family:'Arial', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  left:368px;
  text-align:center;
  top:12px;
  width:70px;
}
.box {
  background-color:#0075CC;
  height:40px;
  left:0px;
  top:0px;
  width:100%;
}
.cell {
  color:#FFFFFF;
  font-family:'Arial', sans-serif;
  font-size:14px;
  height:40px;
  right:80px;
  text-align:center;
  width:100px;
}
.cell > a {
  line-height:40px;
}
.cell-15 {
  color:#FFFFFF;
  font-family:'Arial', sans-serif;
  font-size:14px;
  height:40px;
  line-height:40px;
  right:0px;
  text-align:center;
  width:100px;
}
.cell-14 > a {
  line-height:40px;
}
.cell-14 {
  color:#FFFFFF;
  font-family:'Arial', sans-serif;
  font-size:14px;
  height:40px;
  right:155px;
  text-align:center;
  width:100px;
}
.floating-image-16 {
  background-image:url('/resource/project/book_small_logo.png');
  background-position:center center;
  background-size:contain;
  height:34px;
  left:38px;
  top:4px;
  width:100px;
}
.floating-image {
  background-image:url('/resource/project/book_logo.png');
  background-position:center center;
  background-size:contain;
  height:97px;
  left:38px;
  top:60px;
  width:113px;
}
.pg-form {
  height:49px;
  left:190px;
  top:70px;
  width:523px;
}
.pg-text-field {
  border-color:#0092FF;
  border-width:4px;
  height:40px;
  left:102px;
  padding-left:8px;
  padding-right:8px;
  top:0px;
  width:350px;
}
.pg-select {
  background-color:#FFFFFF;
  border-color:#0092FF;
  border-width:4px;
  height:49px;
  left:0px;
  top:-1px;
  width:103px;
}
.pg-button {
  background-color:#FFFFFF;
  border-color:#0092FF;
  border-width:4px;
  color:#6D6D6D;
  height:48px;
  left:472px;
  top:0px;
  width:50px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.text-111 {
  background-color:#0075CC;
  background-position:center;
  border-color:#0075CC;
  border-radius:15px;
  border-width:2px;
  color:#FFFFFF;
  font-family:'Hanna', serif;
  font-size:32px;
  height:50px;
  left:190px;
  text-align:left;
  top:22px;
  width:169px;
}
.footer {
  background-color:#0075CC;
  height:100px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-page {
    min-width:380px;
  }
  .text-92 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-95 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-97 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-98 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-96 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-97 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-100 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-101 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-102 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-103 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-104 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-105 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-106 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-107 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-108 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-109 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-153 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-158 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-157 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-159 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-161 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-162 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-163 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-154 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-160 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-156 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-164 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-165 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-166 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-167 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-135 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-142 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-145 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-140 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-146 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-147 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-152 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-148 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-149 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-150 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-145 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-151 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-153 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-148 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-154 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-129 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-123 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-124 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-128 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-130 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-127 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-129 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-131 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-131 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-132 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-133 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-134 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-135 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-117 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-118 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-119 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-120 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-121 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-127 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-136 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-137 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-138 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-139 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-140 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-141 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-150 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-155 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-15 {
    right:0px;
  }

}