.image-158 {
  height:194px;
  left:0px;
  top:1px;
  width:153px;
}
.cell-168 {
  height:26px;
  left:0px;
  line-height:26px;
  text-align:center;
  top:194px;
  width:154px;
}
.cell-169 {
  height:26px;
  left:0px;
  line-height:26px;
  text-align:center;
  top:220px;
  width:154px;
}
@media screen and (max-width:959px) {
}